.main {
  border:5px solid red;
  margin: 10px;
}
.blue {
  border: 2px solid blue;
  margin: 5px;
}
.text-centre {
  text-align: center;
}
.flex {
  display: flex;
}
.margin0{
  margin: 10px;
}
.grow1{
  flex-grow: 5;
}
.grow2{
  flex-grow: 10;
}

